.site-aside {
	grid-column: span 4;
	grid-row: span 3;

	position: sticky;
	top: 0;
	margin: -1rem 0;
	height: calc(100vh);
}

.site-aside::after {
	position: absolute;
	content: "";
	top: 1rem;
	right: 0;
	bottom: 1rem;
	border-right: 3px solid;
}

.site-aside__content-wrapper {
	/* TODO: Hide scrollbar ? */
	box-sizing: border-box;
	height: 100%;
	overflow-y: scroll;
	padding: 1rem 2rem 1rem 0;
}

.site-aside__title {
	text-transform: lowercase;
	text-align: center;
}

.site-aside__title + * {
	margin-top: 1rem;
}

.site-aside__section + .site-aside__section {
	margin-top: 2rem;
}

.site-aside__list {
    font-size: var(--font-size-small);
}

.about-aside-group {
    margin-top: 1rem;
}

@media (max-width: 500px) {
	.site-aside {
		width: 75vw;
		position: fixed;
		top: 1rem;
		left: calc(-75vw + 1rem);
		transition: left 0.2s;
	}

	body.site-aside-opened .site-aside {
		left: 1rem;
	}
}

