@font-face {
	font-family: "Mercure";
	src: url("/assets/fonts/Mercure-Regular.otf");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Mercure";
	src: url("/assets/fonts/Mercure-Italic.otf");
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: "Mercure Transcript";
	src: url("/assets/fonts/Mercure-Transcript.otf");
	font-style: normal;
	font-weight: 400;
}
