.site-footer {
	grid-column: span 8;

	border-top: 1px solid;
	padding-top: var(--spacing-sm);
	font-size: var(--font-size-small);
}

@media (max-width: 850px) {
	.site-footer {
		grid-column: 1 / -1;
	}
}
