:root {
	font-size: 16px;
}

body {
	font-family: "Mercure", "Times New Roman", Times, serif;
	line-height: 1.4;
	margin: 1rem 2rem;

	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: max-content auto;
	gap: 2rem;
}

main {
	grid-column: span 8;

	display: grid;
	grid-template-columns: repeat(8, 1fr);
	align-items: start;
	gap: 2rem;

	border-top: 1px solid;
	padding-top: 2rem;
}

img {
	width: 100%;
}

em {
	font-style: italic;
}
