:root {
	font-size: 16px;
}

body {
	font-family: "Mercure", "Times New Roman", Times, serif;
	line-height: 1.4;
	margin: 1rem 2rem;

	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: max-content auto;
	gap: 2rem;

	word-break: break-word;
}

main {
	grid-column: span 8;

	display: grid;
	grid-template-columns: repeat(8, 1fr);
	align-items: start;
	gap: 2rem;

	border-top: 1px solid;
	padding-top: 2rem;
}

img {
	width: 100%;
}

em {
	font-style: italic;
}

@media (max-width: 500px) {
	:root {
		font-size: 18px;
	}

	body {
		margin: 1rem 1rem 1rem 2rem;
		grid-template-columns: 1fr;
	}

	main {
		grid-column: 1 / -1;
		transition: transform 0.2s;
	}

	body.site-aside-opened main {
		transform: translateX(75vw);
	}
}
