.text-section {
	position: relative; /* for footnote positions */
	grid-column: 1 / 7;
}

.text-section-hgroup {
	grid-column: 1 / -1;

	text-align: center;
	max-width: 400px;
	margin: 0 auto 4rem auto;
}

.text-section-hgroup__title {
	font-size: var(--font-size-large);
}

.text-section-hgroup__subtitle {
	margin-top: 1rem;
}

.text-section p + p {
	margin-top: 1rem;
}

.text-section__blockquote {
	margin: 0 0 2rem 4rem;
}

.text-section__h2 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 50%;
}

/* See about template */
.text-section__h2:not(:first-child) {
    margin-top: 4rem;
}

.text-section__h2 + * {
	margin-top: 2rem;
}

.text-section__blockquote:not(:first-child) {
	margin-top: 2rem;
}

.text-section__kblockquote-footer {
	margin-top: 1rem;
}

.text-section blockquote footer::before {
	content: "—";
}

.text-section__hr::after {
	display: block;
	content: "⁂";
	text-align: center;
	margin: 2rem 0;
}

@media (max-width: 500px) {
	.text-section {
		grid-column: 1 / -1;
	}
}
