.article {
	grid-column: span 4;
	text-align: center;
}

.article__authors {
	font-size: var(--font-size-small);
}

.article__title,
.article__subtitle {
	display: inline;
}

.articles-aside-list__item {
	display: inline-flex;
	font-size: var(--font-size-small);
}

.articles-aside-list__item:not(:last-child)::after {
	content: ",";
}
