.article-hgroup__subtitle {
    margin-top: 1rem;
}

.article-summary__title {
    text-align: center;
}

.text-section-hgroup__authors {
    color: var(--issue-color);
}

.article-summary p {
    font-size: var(--font-size-small);
}

.article-summary p + p {
    margin-top: 1rem;
}

.article-bibliography li {
    font-size: var(--font-size-small);
    text-indent: -2rem;
    margin-left: 2rem;
}

.footnote-list {
    grid-column: span 2;
    font-size: var(--font-size-small);
}

.footnote-list__footnote-number {
    display: block;
    margin-left: 2rem;
}

.footnote-ref {
    margin-left: 0.1rem;
}

.footnote-ref:before {
    content: "〚";
}

.footnote-ref:after {
    content: "〛";
}

.footnote-list__backlink {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
.footnote-ref-highlight {
	color: var(--issue-color);
	transition: background-color 0.5s ease;
}

.article-buttons, .article-buttons__prev-next {
	display: flex;
	gap: .25rem;
}

.article-buttons__prev-next {
	flex-direction: column;
	flex: 1;
}

.button {
	border: 1px solid;
	padding: .25rem .5rem;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	color: var(--issue-color);
}

.button:hover {
	color: white;
	background-color: var(--issue-color);
}

.article-buttons__download {
	flex: 1;
}

.button__sub-label {
	font-size: var(--font-size-small);
}

@media (max-width: 850px) {
    .footnote-list {
        grid-column: 1 / -1;
    }

    .footnote-list__footnote {
        margin-top: 0 !important; /* See footnotes.js */
    }
}
