.home-template-main {
	border-top: none;
	padding-top: 0;
}

.home-section {
	grid-column: 1 / -1;
	border-top: 1px solid;
}

.home-section__title {
	grid-column: 1 / -1;
	padding-top: 1rem;
	font-size: var(--font-size-small);
}

.latest-issues {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 2rem;
}

.home-aside__news-item {
	text-align: center;
	font-size: var(--font-size-small);
}

.home-aside__news-item-img {
	margin: 0 4rem;
}
