.home-section {
	grid-column: 1 / -1;
	border-top: 1px solid;
}

.home-section__title {
	grid-column: 1 / -1;
	padding-top: 1rem;
	font-size: var(--font-size-small);
}

.last-issue {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
}

.last-issue__cover {
	background-position: center;
	background-size: cover;
	height: 43vw;
	border: 1px solid gainsboro;
}

.last-issue__cover-card {
	background-color: white;
	padding: 2rem;
	margin: 4rem 2rem 0 2rem;
	text-align: center;
	position: relative;
}

.last-issue__cover-card::after {
	content: "";
	position: absolute;
	top: 1rem;
	right: 1rem;
	bottom: 1rem;
	left: 1rem;
	border: 1px solid var(--issue-color);
}

.last-issue__cover-card::before {
	content: "";
	position: absolute;
	top: 0.75rem;
	right: 0.75rem;
	bottom: 0.75rem;
	left: 0.75rem;
	border: 2px solid var(--issue-color);
}

.last-issue__cover-card-date {
	font-size: var(--font-size-small);
}

.last-issue__cover-card-title {
	font-size: var(--font-size-large);
	margin-top: 1rem;
	text-transform: uppercase;
	letter-spacing: var(--letterspacing-uppercase);
}

.last-issue__cover-card-subtitle {
	margin-top: 2rem;
	/* font-size: var(--font-size-small); */
}

.latest-issues {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 2rem;
}

.latest-issues__issue-cover {
	height: 27vw;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: start;
	border: 1px solid gainsboro;
}

.latest-issues__issue-card {
	margin: 3rem 2rem 0 2rem;
	padding: 1.25rem 2rem;
	background-color: white;
	text-align: center;
	position: relative;
}

.latest-issues__issue-card::after {
	content: "";
	position: absolute;
	top: 0.75rem;
	right: 0.75rem;
	bottom: 0.75rem;
	left: 0.75rem;
	border: 1px solid var(--issue-color);
}

.latest-issues__issue-card::before {
	content: "";
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	bottom: 0.5rem;
	left: 0.5rem;
	border: 2px solid var(--issue-color);
}

.latest-issues__issue-card-number {
	font-size: var(--font-size-large);
	font-family: "Mercure Transcript";
}

.latest-issues__issue-hgroup {
	text-align: center;
	margin-top: 0.5rem;
}

.latest-issues__issue-date {
	font-size: var(--font-size-small);
}
