.toc__item {
	text-align: center;
}

.toc__item:hover {
    cursor: pointer;
}

.toc__item:hover .toc__item-title,
.toc__item:hover .toc__item-subtitle {
    text-decoration: underline;
}

.toc__item + .toc__item {
	margin-top: 1rem;
}

/* When there are multiple authors and the line wraps.
The gap between lines is disproportionate otherwise. */
.toc__item-authors-list {
	line-height: 1.1;
}

.toc__item-author {
	display: inline;
	font-size: var(--font-size-small);
	color: var(--issue-color);
}

.toc__item-author:not(:last-child):after {
	content: ","
}

.toc__item

.toc__item-title,
.toc__item-subtitle {
	display: inline;
}

/* TODO: Solution without :has (not supported by FF yet) */
.toc__item-title:has(+ .toc__item-subtitle):after {
	content: ":";
	/* \00a0 non-breaking space */
}
