.toc__item {
	text-align: center;
}

/* .toc__item .toc__item-title {
	text-decoration: underline dashed 0.1px;
} */
.toc__item:hover .toc__item-title {
	text-decoration: underline;
}

.toc__item + .toc__item {
	margin-top: 1.25rem;
}

/* When there are multiple authors and the line wraps.
The gap between lines is disproportionate otherwise. */
.toc__item-authors-list {
	margin-top: 0.5rem;
	line-height: 1.1;
}

.toc__item-author {
	display: inline;
	font-size: var(--font-size-small);
	color: var(--issue-color);
}

.toc__item-author:not(:last-child):after {
	content: ",";
}